<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbl.dao.SysDepartRoleMapper">
  <resultMap id="BaseResultMap" type="com.zbl.entity.SysDepartRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="departId" jdbcType="VARCHAR" property="departId" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, departId, roleId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_depart_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_depart_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zbl.entity.SysDepartRole">
    insert into sys_depart_role (id, departId, roleId
      )
    values (#{id,jdbcType=INTEGER}, #{departId,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zbl.entity.SysResRole">
    insert into sys_depart_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="departId != null">
        departId,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departId != null">
        #{departId,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zbl.entity.SysDepartRole">
    update sys_depart_role
    <set>
      <if test="departId != null">
        departId = #{departId,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zbl.entity.SysDepartRole">
    update sys_depart_role
    set departId = #{departId,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
     <select id="selectDepartIdListByRoleId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT
            e.departId  AS id
        FROM
            sys_role r
        LEFT JOIN sys_depart_role e ON r.id = e.roleId
        WHERE
            r.id = #{id}
    </select>
    
    <select id="selectDepartByRoles" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT             e.departId  AS id         FROM           sys_depart_role   e
     where roleId in (select roleid from sys_user_role where  sys_user_role .userId =${userId})
    </select>
    
</mapper>